<p class="lead">A polymorphic relationship destined for endless commentary...</p>
<p>A play in relationships - This repo highlights the use of both a many-to-many and a polymorphic relationship in a Postgres database. The many-to-many is formed between Actors & Movies while the polymorphic relationship is between comments and the two entities: Actors & Movies.</p>